{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>INCAPP+</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header class="wrapper">
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class="wrapper">
            <h1>Log in</h1>
            <form class="site-form" action="{% url 'accounts:login' %}" method="post">
                {% csrf_token %}
                {{ form }}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}" />
                {% endif %}
                    <input type="submit" value="Login" />
            </form>
                <p>Not got an account? <a href="{% url 'accounts:signup' %}">Sign Up</a></p>
        </div>
    </body>
</html>

